<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <appender name="Consola"  class="org.apache.log4j.ConsoleAppender">
    <param  name="Target" value="System.out"/>
    <param  name="Threshold"  value="DEBUG"/>
    <layout class="org.apache.log4j.PatternLayout">
      <param  name="ConversionPattern"  value="%d inventapps  %-5p %c - %m%n"/>
    </layout>
  </appender>
  
	<appender name="Finfo" class="org.apache.log4j.RollingFileAppender">
    <param  name="Threshold"  value="DEBUG"/>
    <param name="File" value="C:/logAplicaciones/inventapps/inventapps.log"/>
    <param name="MaxFileSize" value="5000KB" />
    <param name="MaxBackupIndex" value="5" />    
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d inventapps  %-5p %c - %m%n"/>
    </layout>
  </appender>

  
  
  	<logger name="es.golemdr" additivity="false">
		<level value="debug"/>  	
    	<appender-ref ref="Finfo"/>
    	<appender-ref ref="Consola"/>
  	</logger>
  
  	<logger name="org.springframework" additivity="false">
		<level value="debug"/>  	
    	<appender-ref ref="Finfo"/>
    	<appender-ref ref="Consola"/>    	
  	</logger>
  	
	<logger name="org.apache.ibatis">
		<level value="debug"/>
    	<appender-ref ref="Finfo"/>
    	<appender-ref ref="Consola"/>    	
	</logger>
	
	<logger name="java.sql">
		<level value="debug"/>
    	<appender-ref ref="Finfo"/>
    	<appender-ref ref="Consola"/>    	
	</logger>
	
	
  
</log4j:configuration>